<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dkl.server.system.mapper.SysMenuMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        menu_id, parent_id, menu_name, path, component, perms, icon, type, order_num, created_by, created_time, updated_by, updated_time
    </sql>


	<select id="findUserPermissions" resultType="com.dkl.entity.system.SysMenu">
        select distinct m.perms
        from sys_role r
                 left join sys_user_role ur on (r.role_id = ur.role_id)
                 left join sys_user u on (u.user_id = ur.user_id)
                 left join sys_role_menu rm on (rm.role_id = r.role_id)
                 left join sys_menu m on (m.menu_id = rm.menu_id)
        where u.username = #{username}
          and m.perms is not null
    </select>



	<select id="findUserMenus" resultType="com.dkl.entity.system.SysMenu">
        select m.*
        from sys_menu m
        where m.type &lt;&gt; 1
          and m.MENU_ID in
              (select distinct rm.menu_id
               from sys_role_menu rm
                        left join sys_role r on (rm.role_id = r.role_id)
                        left join sys_user_role ur on (ur.role_id = r.role_id)
                        left join sys_user u on (u.user_id = ur.user_id)
               where u.username = #{userName})
        order by m.order_num
    </select>

</mapper>
