<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dkl.server.system.mapper.SysUserMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, username, password, dept_id, email, mobile, status, last_login_time, ssex, avatar, created_by, created_time, updated_by, updated_time
    </sql>



	<select id="findUserDetailPage" parameterType="com.dkl.entity.system.SysUser" resultType="com.dkl.entity.system.SysUser">
		SELECT
		u.user_id userId,
		u.username,
		u.email,
		u.mobile,
		u.status,
		u.ssex,
		u.dept_id deptId,
		u.last_login_time lastLoginTime,
		u.avatar,
		d.dept_name deptName,
		u.created_time,
		u.updated_time,
		GROUP_CONCAT(r.role_id) roleId,
		GROUP_CONCAT(r.ROLE_NAME) roleName
		FROM
		sys_user u
		LEFT JOIN sys_dept d ON (u.dept_id = d.dept_id)
		LEFT JOIN sys_user_role ur ON (u.user_id = ur.user_id)
		LEFT JOIN sys_role r ON r.role_id = ur.role_id
		WHERE 1 = 1
		<if test="user.username != null and user.username != ''">
			AND u.username = #{user.username}
		</if>
		<if test="user.deptId != null and user.deptId != ''">
			AND d.dept_id = #{user.deptId}
		</if>
		<if test="user.ssex != null and user.ssex != ''">
			AND u.ssex = #{user.ssex}
		</if>
		<if test="user.status != null and user.status != ''">
			AND u.status = #{user.status}
		</if>
		<if test="user.mobile != null and user.mobile != ''">
			AND u.mobile = #{user.mobile}
		</if>
		<if test="user.deptName != null and user.deptName != ''">
			AND d.dept_name like CONCAT('%',#{user.deptName},'%')
		</if>
		<if test="user.createdTime != null and user.createdTime !=''">
			And u.create_time &gt; #{user.createdTime}
		</if>
		group by u.username,u.user_id,u.email,u.mobile,u.status,u.created_time,u.ssex,
		u.dept_id,u.last_login_time,u.updated_time,u.avatar
	</select>

</mapper>
